@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

*,
::after,
::before {
  scroll-behavior: smooth;
}

body,
html {
  font-family: "Plus Jakarta Sans", sans-serif !important;
}
.navbar_section{
    position: absolute !important;
    top: 0;
    width: 100%;
    z-index: 99;
}    

.navbar_section .navbar-toggler{
  border: 1px solid white;
  color: white;
  font-size: 14px;
  border-radius: 100px;
  padding: 10px 20px;
}

.navbar_section .navbar-collapse .nav-item {
    background: rgba(0, 0, 0, .9);
  padding: 23px 0px 23px;
  text-align: center;
}
.navbar-collapse{
    z-index: 9;
}
.bg_video video{
  filter: brightness(0.7);
}

.search-icon{
    border: 1px solid white;
    border-radius: 50%;
    padding: 10px;
    width: 35px;
    height: 35px;
    line-height: 9px;
}

.select_lang .dropdown-toggle{
    border: 1px solid white !important;
    color: white !important;
    font-size: 14px;
    border-radius: 100px;
    padding: 7px 19px;
  }

  .bannervideo-text p{
    max-width: 400px;
    font-weight: 400;
    opacity: 0.8;
  }
.banner_info{
    background-color: rgba(79, 79, 79, 0.4);
    backdrop-filter: blur(20px);
    padding: 22px 27px;
    border-radius: 20px;
    width: 300px;
    position: relative;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.banner_info:hover{
  background-color:#EE2737;
}
.banner_info:hover span{
  background-color: white;
}
.banner_info:hover .icon-invert{
  filter:unset;
}

.arrowup{
    position: absolute;
    top: 9%;
    right: 5%;
    border: 1px solid white;
    border-radius: 25px;
    width: 26px;
    height: 26px;
}
.moreinfo{
    background: #2b2b2b;
    opacity: 80%;
    backdrop-filter: blur(10px);
}
.moreinfo_card{
    background: #414042;
    box-shadow: 0px 0px 20px 0px #0000001A;
    border-radius: 20px;
}
.banner_content{
  position: absolute;
    top: 50%;
    transform: translatey(-50%);
    right: 2%;
    margin: 0 auto;
}
.icon-invert{
  filter: brightness(7);
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}

.banner_info span{
  background-color: #EE2737;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 2.8;
    text-align: center;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
}

.arrow-animate {
  display: inline-block;
  animation: moveArrow3D 2s ease-in-out infinite; 
}

@keyframes moveArrow3D {
  0% {
      transform: translate3d(0, 0, 0);
  }
  50% {
      transform: translate3d(5px, -5px, -10px); 
  }
  100% {
      transform: translate3d(0, 0, 0);
  }
}
.bg_video {
  height: 100dvh; 
}

@media  (max-width: 1199px){
  .fs-48{
    font-size: 30px !important;
  }
}
@media (min-width: 481px) and  (max-width: 767px){
  .bg_video {
    height: 120dvh; 
  }
  .banner_content{
    left: 10%;
    right: unset;
    top: 55%;
  }
}

@media (min-width: 320px) and (max-width: 480px){
  .fs-48{
    font-size: 30px !important;
  }
  .bg_video {
    height: 140dvh; 
  }
  .navbar-brand img{
    width: 160px;
  }
  .navbar_section .navbar-toggler{
    padding: 9px 12px;
  }
  .bannervideo-text p {
    max-width: 300px;
  }
  .banner_content{
    left: 10%;
    right: unset;
  }
}